header{
  background: #343a40;
  color: #eeeeee;
}

body{
  font-family: 'Hiragino Kaku Gothic Pro',kan415typos-std,'ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  background-color: #eeeeee;
  background-image: url("bg.jpg");
  margin: 0;
  color: #eeeeee;}

.headerlnner,.mainlnner{
  max-width: 650px;
  margin: auto;
  padding: 0 20px;
}

.headerlnner{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer{
  background: #343a40;
  color: #eeeeee;
}

.footerlnner{
  text-align: center;
  margin-top: 50px;
  padding: 30px;
}

.avater{
  text-align:center;
}

img{
  border-radius: 12px;
  margin-top: 10px;
}

a{
  color: #eeeeee;
}

.title{
  text-decoration: none;
}

h2{
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px rgb(207, 207, 207);/*左線*/
}

.keyVisual{
  text-align: center;
}

.priceWrapper table,
.priceWrapper th,
.priceWrapper td{
    border-collapse: collapse;
    border: 1px solid black;
}

.priceWrapper th,
.priceWrapper td{
    padding: 7px;
}

.priceWrapper table{
    width: 100%;
}

.priceWrapper th{
    width: 150px;
    background: #eee;
}

.priceWrapper td{
  background: rgb(207, 207, 207);
}

.priceWrapper a{
  color: #000;
}

.clbk{
  color: #000000;
}

.text-center{
  text-align: center;
}

.border-radius{
  display: inline-block;
  background: #7282c9;
  color: #fff;
  text-decoration: none;
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
}

ul.topnav {
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #434a52;
}

ul.topnav li {
	float: left;
}

ul.topnav li a {
	display: block;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	color: white;
}

ul.topnav li a:hover:not(.active) {
	background-color: #a9bce2;
}

ul.topnav li a.active {
	background-color: #da3c41;
}

ul.topnav li.right {
	float: right;
}

@media screen and (max-width: 480px) {
	ul.topnav li.right, ul.topnav li {
		float: none;
	}
}

li {
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}

li+ li {
  border-left: 0;
  border-right: 2px solid #333;
}